doctype html
html
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="content-type" content="text/html;charset=iso-8859-1")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=iso-8859-1")
        title modulo3 GmbH - Projektmanagement? Testing? WIr helfen gerne!
        link(rel="meta" href="http://www.modulo3.de/labels.rdf" type="application/rdf+xml" title="ICRA labels")
        meta(http-equiv="pics-Label" content='(pics-1.1 "http://www.icra.org/pics/vocabularyv03/" l gen true for "http://modulo3.de" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0) gen true for "http://www.modulo3.de" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0))')
        meta(name="authors" content="modulo3 GmbH")
        meta(name="ressource-type" content="document")
        meta(name="siteinfo" content="http://www.modulo3.de/index.txt")
        meta(name="robots" content="INDEX,FOLLOW")
        meta(name="revisit-after" content="10 days")
        meta(name="distribution" content="Global")
        meta(name="language" content="DE")
        meta(name="ICBM" content="51.2135, 6.6567")
        meta(name="DC.title" content="modulo3 Projektmanagement Risikomanagement Ausbildung und Training")
        meta(http-equiv="Page-Enter" content="revealTrans(Transition=23,Duration=1)")
        meta(name="keywords" content="Train the Trainer, TTT, Testbureau, Testbuero, Testbüro, Projektbüro, Projectoffice, Project office, Projektbuero, Wochenend seminar, Wochenendseminar, Projektmanagement, Risikomanagement, Risikomanagement Software, Controlling, Risikomanagement Controlling,  KonTraG, Projektmanagementmethodik, Coaching, Consulting, Microsoft Solutions Framework, MSF, Rational Unified Process, RUP,  Rational Rose, QS, Qualitätssicherung, Datenbanken, Oracle, Centura, Gupta, SQLBAse, EDV Recht, Softskills, Seminar, Training, UML, Erlebnispaedagogik, Erlebnis, Erlebnispädagogik, Abenteuerseminar, Schulung, MS-Project")
        meta(name="description" content="Die Homepage der modulo3 GmbH")
    body
        #wrapper
            #header
                img#header__logo(src="images/mlogo.jpg" alt="modulo3")
                #header__headline
                    #headline__h1 elements of quality
                    #headline__h2 Produktivitäts- und Qualitätsmanagement

            #content01
                #content01__picture
                #content01__text 
                    p
                        | Die modulo3 GmbH bietet Beratungs-, Entwicklungs-, und Testing-Dienstleistungen 
                        | rund um das IT-Qualitätsmanagement an. IT-Qualität ist für modulo3 das Ergebnis einer Reihe 
                        | zu implementierender IT Prozesse. Die Qualität beeinträchtigende 
                        | Fehler in diesen IT-Geschäftsprozessen lassen sich nach Auffassung der modulo3 am 
                        | leichtesten durch (automatisiertes) Testen und konsequentes Risikomanagement identifizieren
                    p
                        | Konstruktivistisch-technologische Aspekte der IT-Qualität (z.B. Architektur, Umgebungen und Betriebssysteme etc.) 
                        | betrachtet modulo3 lediglich als eine von vielen tragenden Säulen in einem dieser Prozesse. 
                    p
                        | Mit Beratungs- und Consultingleistungen zu IT-Projekt-Frameworks wie z.B. 
                        | dem Rational Unified Process oder dem Microsoft Solutions Framework sowie einem Prozessframework
                        | für den IT-Betrieb (Microsoft Operations Framework) und einem Risikomanagement-Prozess bietet modulo3 dabei 
                        | Lösungsvorschläge, die alle Aspekte der IT-Qualität abdecken.
                    p    
                        | Grundlegende Methoden-Trainings in den Bereichen Architektur/Objektorientierung, Anforderungs-Management, 
                        | (automatisiertes) Testen, Konfigurations-Management, Risikomanagement (auch nach KonTraG) u.v.a.m gehören ebenfalls 
                        | zum Angebot der modulo3 GmbH. 
                    p    
                        | Zusätzlich bietet modulo3 Trainings für Entwickler und Administratoren von Client/Server- 
                        | und Web-basierten Systemen sowie Beratungs-, Entwicklungs- und Test-Dienstleistungen 
                        | (z.B. Last-Tests von Web-Applikationen) an. 
                    p
                        |Partnerschaften mit Softwareherstellern und Beratungsunternehmen unterstützen die beschriebene 
                        | strategische Ausrichtung der modulo3 GmbH. Die wichtigsten dieser Partnerunternehmen sind IBM/Rational, 
                        | T-Systems, Borland (Segue), HP (Mercury) und Microsoft-Consulting-Services. 

            