doctype html
html
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="content-type" content="text/html;charset=iso-8859-1")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=iso-8859-1")
        title modulo3 GmbH - Projektmanagement? Testing? WIr helfen gerne!
        link(rel="meta" href="http://www.modulo3.de/labels.rdf" type="application/rdf+xml" title="ICRA labels")
        meta(http-equiv="pics-Label" content='(pics-1.1 "http://www.icra.org/pics/vocabularyv03/" l gen true for "http://modulo3.de" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0) gen true for "http://www.modulo3.de" r (n 0 s 0 v 0 l 0 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 0))')
        meta(name="authors" content="modulo3 GmbH")
        meta(name="ressource-type" content="document")
        meta(name="siteinfo" content="http://www.modulo3.de/index.txt")
        meta(name="robots" content="INDEX,FOLLOW")
        meta(name="revisit-after" content="10 days")
        meta(name="distribution" content="Global")
        meta(name="language" content="DE")
        meta(name="ICBM" content="51.2135, 6.6567")
        meta(name="DC.title" content="modulo3 Projektmanagement Risikomanagement Ausbildung und Training")
        meta(http-equiv="Page-Enter" content="revealTrans(Transition=23,Duration=1)")
        meta(name="keywords" content="Train the Trainer, TTT, Testbureau, Testbuero, Testbüro, Projektbüro, Projectoffice, Project office, Projektbuero, Wochenend seminar, Wochenendseminar, Projektmanagement, Risikomanagement, Risikomanagement Software, Controlling, Risikomanagement Controlling,  KonTraG, Projektmanagementmethodik, Coaching, Consulting, Microsoft Solutions Framework, MSF, Rational Unified Process, RUP,  Rational Rose, QS, Qualitätssicherung, Datenbanken, Oracle, Centura, Gupta, SQLBAse, EDV Recht, Softskills, Seminar, Training, UML, Erlebnispaedagogik, Erlebnis, Erlebnispädagogik, Abenteuerseminar, Schulung, MS-Project")
        meta(name="description" content="Die Homepage der modulo3 GmbH")
    body
        #wrapper
            #header
                img#header__logo(src="images/mlogo.jpg" alt="modulo3")
                #header__headline
                    #headline__h1 elements of quality
                    #headline__h2 Produktivitäts- und Qualitätsmanagement

            #content01.content_wrapper
                .content__text
                    img.content__picture(src="images/2d6141ec22.jpg")
                    p.
                        Die #[b modulo3] GmbH bietet Beratungs-, Entwicklungs-, und Testing-Dienstleistungen
                        rund um das IT-Qualitätsmanagement an. IT-Qualität ist für #[b modulo3]  das Ergebnis einer Reihe
                        zu implementierender IT Prozesse. Die Qualität beeinträchtigende
                        Fehler in diesen IT-Geschäftsprozessen lassen sich nach Auffassung der #[b modulo3]  am
                        leichtesten durch (automatisiertes) Testen und konsequentes Risikomanagement identifizieren
                    p.
                        Konstruktivistisch-technologische Aspekte der IT-Qualität (z.B. Architektur, Umgebungen und Betriebssysteme etc.)
                        betrachtet #[b modulo3]  lediglich als eine von vielen tragenden Säulen in einem dieser Prozesse.
                    p.
                        Mit Beratungs- und Consultingleistungen zu IT-Projekt-Frameworks wie z.B.
                        dem Rational Unified Process oder dem Microsoft Solutions Framework sowie einem Prozessframework
                        für den IT-Betrieb (Microsoft Operations Framework) und einem Risikomanagement-Prozess bietet #[b modulo3] dabei
                        Lösungsvorschläge, die alle Aspekte der IT-Qualität abdecken.
                    p.
                        Grundlegende Methoden-Trainings in den Bereichen Architektur/Objektorientierung, Anforderungs-Management,
                        (automatisiertes) Testen, Konfigurations-Management, Risikomanagement (auch nach KonTraG) u.v.a.m gehören ebenfalls
                        zum Angebot der #[b modulo3] GmbH.
                    p.
                        Zusätzlich bietet #[b modulo3] Trainings für Entwickler und Administratoren von Client/Server-
                        und Web-basierten Systemen sowie Beratungs-, Entwicklungs- und Test-Dienstleistungen
                        (z.B. Last-Tests von Web-Applikationen) an.
                    p.
                        Partnerschaften mit Softwareherstellern und Beratungsunternehmen unterstützen die beschriebene
                        strategische Ausrichtung der #[b modulo3] GmbH. Die wichtigsten dieser Partnerunternehmen sind IBM/Rational,
                        T-Systems, Borland (Segue), HP (Mercury) und Microsoft-Consulting-Services.
            .content__seperator
            #content02.content_wrapper
                .content__headline automatisiertes Testen geht nicht !?
                .content__text
                    img.content__picture(src="images/d2ab5b4175.jpg")
                    p.
                        "Automatisiertes testen? Haben wir schon probiert, das funktioniert bei uns nicht." Diese Aussage, oft gehört,
                        ist dennoch qualitativ gleichzusetzen mit der Behauptung "Projektmanagement? Dafür haben wir im Moment keine Zeit."
                    p.
                        Es ist sicher so, dass es nicht genügt ein Testwerkzeug für automatisierte Softwaretests zu kaufen.
                        Auch der Kauf in Verbindung mit einem Seminar zur Werkzeugbenutzung dürfte alleine nicht Zielführend sein.
                    p.
                        Hat die OU, die eine Software erstellt eine Definition für den Begriff "Qualität"?
                        Gibt es eine Beschreibung, wie Qualität gemessen werden soll? Wenn ja,
                        dann wird es Zeit sich mit dem Thema Testen auseinanderzusetzen.
                    p.
                        Später kann dann in einer Teststrategie festgelegt werden,
                        welche Tests manuell und welche automatisiert durchgeführt werden sollen.
                        Dass auf manuelles Testen verzichtet werden kann ist also eine eben solche Märchen,
                        wie dass automatisiertes Testen von Software speziell in einer OU unmöglich ist.
                    p.
                        Eine schöne, erfreulich allgemein und neutral gehaltene Einführung zum Thema
                        Testen findet sich in einer Vorlesung von Jürgen Lutz zum Sommersemester 2005 an der TU-Wien.
                        Die Folien zum Skript finden sich #[a(href="http://www.objectarchitects.de/wien2004/(99)Softwaretest.pdf") hier]
            .content__seperator
            #content03.content_wrapper
                .content__headline modulo3 Projektbüro
                .content__text
                    p.
                        Ihr Unternehmen wächst und mit ihm die Projekte. Was tun, wenn mehrere Teams Projekte durchführen,
                        aber jedes Team nach seinen eigenen Vorgaben arbeitet? Was tun, wenn Projektleiter zusätzlich noch Entwicklungsaufgaben
                        innerhalb des Projektes übernehmen müssen, dadurch aber das Projektmanagement vernachlässigt wird? Was tun, wenn übergreifende
                        Informationen zu den laufenden Projekten benötigt werden, die
                        Projektstati aber weder aktuell sind, noch konsolidiert werden können?
                    .content__sub-headline Was ist das Ziel moderneren Projektmanagements?
                    p.
                        Moderne betriebliche Organisationen zeichnen sich durch flache Hierarchien aus,
                        die die Verantwortungsbereiche der einzelnen Mitarbeiter wachsen lassen.
                        Gleichzeitig sollte Transparenz bis hin zur Managementebene gewährleistet
                        werden und die Leistungen der einzelnen Abteilungen messbar und kontrollierbar sein.
                        Außerdem sollten Frühwarnsysteme über Fehlerquellen und Fehlentwicklungen informieren.
                        Diesem Profil muss eine zeitgemäße Projektmanagement-Organisation gerecht werden, um in der Praxis zu bestehen.
                    .content__sub-headline Was ist das modulo3 Projektbüro?
                    p.
                        Zielsetzung des modulo3 Projektbüros ist hierbei die effektive, sach-, termin- und kostengerechte Abwicklung
                        aller Projekte in Ihrem Unternehmen bzw. Unternehmensbereich unter Berücksichtigung der Abhängigkeiten zwischen
                        verschiedenen Projekten durch gemeinsame Ressourcennutzung, aufgabenbezogene Abhängigkeiten und Projektpriorisierung.
                        Das modulo3 Projektbüro unterstützt die Umsetzung einer einheitlichen, projektübergreifenden, methodisch strukturierten
                        und damit reproduzierbaren Vorgehensweise und trägt somit unmittelbar zur Qualitäts- und Erfahrungssicherung im Unternehmen bei.
                        Des weiteren ist der Aufbau eines modulo3 Projektbüros für Unternehmen, in denen sich die systematische Etablierung
                        von Strukturen und Methoden noch in der Realisierungsphase befindet, optimal dazu geeignet,
                        Prozesse in Bereichen einzuführen, in denen bislang noch keine solchen vorhanden sind.
                    img.content__picture(src="images/einbindung.gif", width="100%")
                    p.
                        Zielsetzung des modulo3 Projektbüros ist hierbei die effektive, sach-, termin- und kostengerechte Abwicklung
                        aller Projekte in Ihrem Unternehmen bzw. Unternehmensbereich unter Berücksichtigung der Abhängigkeiten zwischen
                        verschiedenen Projekten durch gemeinsame Ressourcennutzung, aufgabenbezogene Abhängigkeiten und Projektpriorisierung.
                        Das modulo3 Projektbüro unterstützt die Umsetzung einer einheitlichen, projektübergreifenden, methodisch strukturierten
                        und damit reproduzierbaren Vorgehensweise und trägt somit unmittelbar zur Qualitäts- und Erfahrungssicherung im Unternehmen bei.
                        Des weiteren ist der Aufbau eines modulo3 Projektbüros für Unternehmen, in denen sich die systematische Etablierung
                        von Strukturen und Methoden noch in der Realisierungsphase befindet, optimal dazu geeignet, Prozesse in Bereichen einzuführen,
                        in denen bislang noch keine solchen vorhanden sind.
                    .content__sub-headline Wie werden Sie durch ein modulo3 Projektbüro unterstützt?
                    p.
                        Ein modulo3 Projektbüro unterstützt Ihre Projektleitung bei Planungs-, Erfassungs- und
                        Informationsaufgaben, deckt alle entwicklungsflankierenden und -betreuenden Aufgaben
                        ab und bewahrt damit Ihren Gesamtblick auf das Projekt.
                    p.
                        #[b Planungsaufgaben] (z.B. Unterstützung und Mitarbeit beim Strukturieren des Projektes,
                        Unterstützung bei Wirtschaftlichkeitsanalyse, Erstellung/Aktualisierung von Aufwands- und
                        Terminplänen, Simulation von Netzplanvarianten, Aufzeigen kritischer Projektteile, etc.)
                        #[br]
                        #[b Erfassungsaufgaben] (z.B. Projektstammdaten erfassen, Stundenkontierungsbelege erzeugen, verteilen und einsammeln,
                        Terminrückmeldedaten erfassen, etc.)
                        #[b Informationsaufgaben] (z.B. Projektdaten-Auswertungen generieren, Projektpläne
                        und Projektberichte erstellen, Pläne drucken und verteilen, Entscheidungsunterlagen für die Projektleitung
                        vorbereiten, Projektberichte für die Bereichsleitung erstellen, Projektdatenbasis aufbauen und aktualisieren,
                        Informationen für die Erfahrungsdatenbank aufbereiten, etc.)
                        #[br]
                        Unsere Arbeitsweise zeichnet sich durch ständige Vor-Ort-Verfügbarkeit als Ansprechpartner für die operativen Projektleiter aus. Dabei bietet das modulo3 Projektbüro administrative Unterstützung und Coaching der Projektleiter. Die Verwendung und Weiterentwicklung bereits existierender Dokumentvorlagen, der Aufbau eines einheitlichen Berichtswesens sowie die Benutzung von Standardtools und die Einbindung der unternehmensspezifischen IT-Infrastruktur gewährleisten eine effektive und kostenoptimierte Unterstützung Ihrer Projektleitung.
                    .content__sub-headline Wie wirtschaftlich ist ein modulo3 Projektbüro?
                    p.
                        Aufgrund der unterschiedlichen Tätigkeitsfelder eines Projektbüros muss es hinsichtlich der Anzahl
                        und Qualifikation der Mitarbeiter adäquat ausgestattet sein. So sollte ein Projektbüro für ein großes
                        Entwicklungsprojekt mindestens über jeweils einen Projektorganisator, Netzplantechniker (Termin-Controlling)
                        und Sachbearbeiter für Stundencontrolling verfügen.
                    p.
                        Die absolute Anzahl der Mitarbeiter eines modulo3 Projektbüros hängt sowohl von der PM-Durchdringung
                        im betreffenden Entwicklungsbereich, als auch von der Größe des Projekts bzw. der parallel
                        zu betreuenden Projekte ab. Auch können die genannten Aktivitäten in einem kleinen modulo3
                        Projektbüro auf weniger Mitarbeiter konzentriert werden, wenn die einzelnen Tätigkeiten nicht jeweils
                        einen Full-Time-Job darstellen.
                    p.
                        Eine Kostenreduzierung der anteiligen Projektmanagementkosten pro Projekt
                        ist auch hier von der Größenordnung und Komplexität des Projektes abhängig und wird in der folgenden Grafik dargestellt.
                    img.content__picture(src="images/verhaeltnis.gif", width="100%")
                    .picture__subtext Abb: Verhältnis der durchschnittlichen Projektmanagementkosten zum Projektvolumen
            .content__seperator
            #content04.content_wrapper
                .content__headline How To: Coole Namen für Softwareprozesse
                .content__text
                    p.
                        Ein aufregender neuer Trend überschwemmt zur Zeit die Welt: einen eigenen Software
                        Entwicklungsprozess zu erfinden (Pluspunkte gibt's für "Agilität". Einige Beispiel
                        populärer agiler Prozesse sind Crystal Clear, Scrum, &lt;HierKommtIhrProzess&gt;, DSDM und Spiral."
                    p.
                        Typischerweise versagen Bücher oder Artikel ja völlig dabei,
                        die Charakteristiken oder Unterschiede zwischen den Prozessen herauszuarbeiten,
                        das wird einfach mal so nebenbei weggelassen. Der Grund dafür ist, dass  bei den meisten
                        Gelegenheiten die Details nicht im Geringsten interessieren. Das Buch/der Artikel listet die
                        Prozesse nicht auf weil der Autor will, dass sie hingehen und diese tatsächlich ausprobieren,
                        um Himmels willen! Am wahrscheinlichsten ist noch, dass der Autor sich gerne vage sachkundig anhören möchte.
                    p
                        b.
                            Wenn Sie also Ihren eigenen Prozess erfinden und in Büchern und Artikeln erwähnt werden wollen,
                            ist der bei weitem wichtigste Aspekt ihrem Geisteskind einen cool klingenden Namen zu geben.
                    p.
                        Einen großen Fehler machen Prozesserfinder immer wieder.
                        Die definieren zuerst den Prozess, um danach über einen Namen nachzudenken der zusammenfassend -
                        in ein bis zwei Worten  - darstellt, was der Große Wurf dieses Prozesses ist.  Glauben Sie mir,
                        das funktioniert nie und nimmer: Sie brauchen es wirklich nicht einmal zu versuchen! Ein Name, der auf
                        einem zuvor definierten Prozess basiert, wird mindestens linkisch klingen und wahrscheinlich nie ein Volltreffer werden.
                        Es ist ein bisschen wie der Versuch aus Versehen einen Nutelladeckel auf ein Marmeladeglas zu schrauben.
                    p.
                        Noch schlimmer aber ist es, dass Namen, die auf dem Prozess selbst basieren dazu tendieren
                        viel zu nüchtern und abgeklärt zu klingen. Wenn der Autor eines Prozesses versucht, sich
                        einen Namen auszudenken, der zu seinem Prozess passt, wird er bei so was landen wie
                        Feature-Driven-Development oder Dynamic Systems Development Method. Gääääähhhhn.
                        Metaphern sind da doch ein weit besserer Weg.
                    p.
                        Der bei weitem verlässlichste Ansatz aber ist, sich zuerst einen coolen Namen auszudenken,
                        die Domain zu reservieren, bevor es jemand anderes tut und dann die Details zu erträumen,
                        die der Prozess benötigt, um zu dem Namen zu passen. Und immer dran denken, Sie müssen etwas sehr
                        Metaphorisches erfinden: Nichts, was man zu wörtlich nehmen kann. Scrum (auch wenn es
                        sich ein bisschen zu sehr wie "Skrotum" anhört) ist ein Gutes, wenn auch haariges
                        Beispiel einer Metapher, die ganz offensichtlich ausgewählt wurde, bevor der Prozess Fleisch an die Knochen bekam.
                    p.
                        Lassen Sie uns im Geiste ein bisschen durch ein frei erfundenes Beispiel schlendern.
                        Was wäre ein beispielhaft guter Name für einen Entwicklungsprozess? Es muss ein Name sein, der:
                    ul
                        li (a)   in eine Liste anderer Prozesse passt
                        li (b)   der Sache . gerecht wird
                        li (c)   und sich von der Masse abhebt.
                    p.
                        Wie wäre es mit "Kohle"? Nicht mal ansatzweise gut genug! Man assoziiert sofort latente Hitze,
                        langsam brennende Glut oder einen Prozess, der Millionen Jahre dauert; und dabei hab
                        ich noch nicht mal erwähnt, dass man zwischen tausenden Tonnen Felsgestein eingeklemmt
                        sein könnte. Das hört sich nicht wirklich agil an.
                    p.
                        Nein, der ideale Name muss viel dynamischer sein, besonders,
                        wenn er Seite an Seite mit den wirklich trendigen agilen Methoden stehen will. Wie wäre es mit "Maelstrom" (Mahlstrom).
                        Das ist doch schon eher was. Das suggeriert Bewegung, Iterationen, Ordnung, die aus dem Chaos entsteht, solche Dinge halt.
                    p.
                        Lassen Sie ihn uns mal in einer Reihe verwandter Softwareprozesse in einem typischen halbgaren Artikel über Agilität ausprobieren:
                    p.
                        "Agile Entwicklung erobert die Welt der Softwareentwicklung im Sturm.
                        Die Zahl der Projekte, die agile Methoden benutzen wird nur noch erreicht von der Zahl der agilen Prozesse,
                        die plötzlich aus dem Nichts auftauchen, um die Fehler zu beseitigen, die im vorletzten Prozess,
                        der plötzlich aus dem nichts auftauchte, entdeckt wurden.
                        Einige Beispiele dieser agilen Entwicklungsprozesse sind Scrum, Extreme Programming,
                        ICONIX, DSDM, Maelstrom, Crystal Orange, Coal und Adaptives Software Development."
                    p.
                        ich weiß nicht, was Sie denken, aber aus dieser Liste scheint mir Maelstrom
                        der bei weitem interessanteste und dynamischste aller erwähnten Prozesse.
                        Alleine der Namen strahlt geradezu die vitale Essenz der Agilität aus.
                    p.
                        Ok, nachdem wir jetzt einen verdammt coolen Namen für
                        unseren neuen Prozess haben, müssen wir noch den Prozess zusammenbasteln, der zu diesem Namen passt.
                    p.
                        Dictionary.com definiert Maelstrom als:
                    ul
                        li 1. Eine gewalttätige oder turbulente Situation: z.B. Gefangen im Mahlstrom des Krieges
                        li 2. Ein Strudel von außerordentlicher Größe oder Kraft.
                    p.
                        Optisch suggeriert diese Definition dass unser neuer Prozess viel
                        gemeinsam haben wird mit #[a(href="http://de.wikipedia.org/wiki/Spiralmodell") Boehms Spiralmethode]. Die Spiralmethode sieht etwa wie folgt aus:
                    img.content__picture(src="images/SpiralProzess.jpg", width="100%")
                    .picture__subtext Abbildung 1-1. Der spiralförmige Entwicklungsprozess
                    p.
                        Die Prämisse hier ist, dass man in der Mitte startet und sich dann in immer weiteren Kreisen dreht,
                        bis man die Anforderungen versteht usw. Wenn dabei schon sonst nix rauskommt,
                        dann könnte man daraus wenigstens ein paar coole Aerobic-Elemente für die allmorgendlichen Stand-up Meetings konstruieren.
                    p.
                        Natürlich wollen wir nicht, dass unser neuer Prozess dem Spiralmodell
                        #[i allzu ähnlich] ist: Schließlich muss es ja außer dem bloßen Namen noch ein paar
                        Unterscheidungsmerkmale geben. Was wir also tun könnten wäre unsere Spirale, ääähhh unseren Maelstrom,
                        außen beginnen und ihn sich dann auf seinem Weg ins Zentrum voranarbeiten zu lassen. Einfach genial. Abgesehen
                        davon entspricht das auch viel mehr dem Verhalten eines Maelstrom im wirklichen Leben.
                    p.
                        Ok - so weit, so gut.
                    img.content__picture(src="images/maelstrom1.jpg", width="100%")
                    .picture__subtext Entwicklungsprozess in Aktion
                    p.
                        Welche anderen Charakteristika eines Maelstrom können wir nun in den Prozess einarbeiten?
                        Na ja, Strudel enden ja nicht wirklich in der Mitte: wenn das Wasser die Mitte erreicht stoppt
                        ja nicht der ganze Mechanismus. Das wäre auch überhaupt nicht wirklich agil, weil in der agilen
                        Welt Software ja nie wirklich "fertig" wird. Wir müssen also die Tatsache abbilden, dass jede neue
                        Iteration wieder am äußeren Ende beginnt. Außerdem wird uns das zusätzlich vom Spiralmodell unterscheiden,
                        in dem ein Durchgang durch die Spirale ja mehreren Iterationen entspricht.
                    p.
                        Außerdem beschleunigt sich ein Strudel, wenn man sich dem Zentrum nähert.
                        Schiffe sind chancenlos in seinem grausamen Griff gefangen, sobald sie ein paar Mal in um sein rotierendes Zentrum
                        herumgeschleudert wurden. Ihr Schicksal ist besiegelt. Genau das müssen wir in unserem Prozess abbilden, indem wir festsetzen,
                        dass, je näher eine Interation dem Release kommt, umso mehr Widerstand gegen Änderungen entstehen wird.
                        In anderen Worten, es gibt kein Zurück. Das mag zunächst nicht sehr agil erscheinen,
                        bis man versteht, dass es eine Menge zusätzliche Schiffe (aka Iterationen) geben wird, die schnell aufeinander folgen.
                    p.
                        Wachsende Kompetenz ist ein anderes Feld, auf das wir uns konzentrieren sollten.
                        Die meisten Prozesse operieren auf der Prämisse, dass mit wachsendem Projektfortschritt,
                        das Wissen des Projektteams und sein Verständnis, sowohl des Problems wie auch der Lösung stetig wachsen.
                        Das ist somit ein weiterer Bereich, in dem wir uns mit unserem Prozess von der Masse abheben können.
                        In Maelstrom wird also jedes Release, wenn es sich dem Zentrum nähert unwiederbringlich
                        durch den Abfluss gespült und verschwindet endgültig in den Händen der Benutzer.
                        Die Programmierer bekommen ein Release nie wieder zu Gesicht, wodurch Wartungskosten
                        gegen 0 tendieren;: einer der großen Vorteile des Maelstrom-Ansatzes
                    p.
                        #[b XPer mögen ruhig für sich beanspruchen, dass sie Boehms cost-of-change Kurve abgeflacht haben. Maelstrom setzt noch eins drauf: tatsächlich kehrt er doch die Kurve um!]
                    p.
                        Hier ist nun also das fertige Prozess-Abbild - vorbereitet um per Copy-and-Paste in unzählige Bücher und Artikel eingearbeitet zu werden:
                    img.content__picture(src="images/maelstrom2.jpg", width="100%")
                    .picture__subtext Abbildung 1-3: Der Maelstrom Entwicklungsprozess
                    p.
                        Um die zufällige Erwähnung dieses Prozesses in zukünftigen Veröffentlichungen geradezu zu garantieren,
                        könnten wir schließlich und endlich eine komplette Serie von Maelstrom-basierten Prozessen definieren,
                        die auf verschiedene Arten von Projekten zugeschnitten sind. Ähnlich wie bei der Crystal Serie, die hat
                        ja auch Crystal Clear für kleine Projekte, Crystal Orange für mittlere Projekte usw.
                    p.
                        In Maelstrom könnten wir also Maelstrom-Teetasse (aka "Sturm im Wasserglas") für kleine Einmann-Projekte
                        benutzen; Mit Maelstrom-Boatpeople würden wir mittlere 15-30 Personen Projekte abdecken; Pacific-Maelstrom
                        wäre für große bis sehr große Projekte geeignet und Maelstrom-großes-ungeheuerliches-schwarzes-Loch-im-Zentrum-des-Universums,
                        für wirklich große Behörden-Budgetversenker bei denen Etatüberschreitungen in
                        Millionenhöhe mehr oder weniger von Beginn an eingeplant werden.
                    p.
                        Wir hoffen natürlich, dass dieser Artikel sie anspornt endlich ihre völlig eigene Entwicklungsmethodik zu  erarbeiten.
                        Die Prozesslandnahme schreitet täglich voran, aber es bleibt immer noch Zeit für Sie,
                        Ihre ganz eigenen Spuren in der Softwareszene zu hinterlassen.
                        Viel Glück mit Ihrem coolen neuen Prozess. Um Ihnen einen Schubs in die richtige Richtung
                        zu geben sind hier schon mal ein paar potentielle coole Prozessnamen als Arbeitsvorlagen.
                        Nehmen sie einfach ungezwungen einen davon und fangen Sie noch heute an ihren idealen
                        Prozess aus den großen metaphorischen Möglichkeiten zu extrapolieren, die in dem gewählten Namen
                        verborgen liegen. Aber denken Sie daran, um zu erreichen, dass Sie Ihren Prozess regelmäßig in sinnlosen Listen
                        aufgezählt  finden, sind die Details wirklich nicht wichtig.
                        Der Name machts und die Metaphern die er impliziert sind das was zählt:
                    p.
                        Octopus, Tiger Bright, Archipelago, Silver Blue, Inferno, Virile, Agile Dream, Kitchen Sink,
                        Legless, Spaghetti Monster, Vorsprung Durch Technik, Cliffhanger, Coalface, Koolaid, Lunchbox,
                        Spirogyra, Helix, Desoxyribonukleinsäure.
                    p.
                        In der Tat liefert gerade die Genetik ein wahrhaftes Fünfgängemenü potentiell
                        cooler Prozessnamen: Chromosom, Mitose, Metaphase, Telophase, Interphase.
                        hey wie wäre es mit "Anaphase, der Softwarezellteilungsprozess"?
                    p.
                        Wir könnten auch Scrum als Hinweis nehmen und Namen aus beliebten Mannschaftssportarten wählen:
                        Foul, Check, Referee, Linesmen  solche Sachen halt. Wenn sie einen Namen aus dem
                        Bereich des Sports finden können, der gleichzeitig wie ein ekliger Körperteil klingt,
                        dann laufen Sie eines Tages vielleicht gar Scrum den Rang ab (in der Geldrangliste).
                    p.
                        Aber wenn ihnen dazu nichts einfällt reicht es als zweitbeste Lösung bestimmt auch schon,
                        einfach nur einen wirklich ekligen Körperteil als Namen zu wählen. Viel Glück!
                    p.
                        Dieser Artikel erscheint hier mit freundlicher Genehmigung des <b>Authoren #[a(href="http://www.softwarereality.com/MattStephens.jsp") Matt Stephens], 26.11.2005 (!!!) </b> als #[i deutsche übersetzung] von #[a(href="mailto:Rosemarie@FamilieDietrich.com") Rosemarie Dietrich] und #[a(href="mailto:Michael.W.Dietrich@modulo3.de") Michael W. Dietrich]
            .content__seperator
            #content05.content_wrapper
                .content__headline eXtreme Programming
                .content__text
                    p.
                        wie viele Träume, wie viele Hoffnungen, aber
                        auch wie viele Befürchtungen ranken sich um dieses Paradigma. ... #[a(href="http://www.modulo3.de/themen/extreme_programming/extreme_programming.html") [mehr...]]